@import "_reset","_mixin";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Noto+Serif+KR:wght@300;400;500;600;700&family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Roboto:wght@300;400;500;700&display=swap');

// Basic setting
body{
	font-family: 
		'Noto Serif KR', 
		serif, 
		'Roboto',
		'Noto Sans KR',
		sans-serif;
}

a{
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

//class
.Roboto{
  font-family: 
    'Roboto',
    'Noto Sans KR',
    sans-serif;
}
.blind { // 안보이게 
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
}
.wrap{
	position: relative;
	max-width: $inner;
	margin: auto;
	padding: 0 20px;
	box-sizing: border-box;
} 
.container{
padding: 160px 100px 50px;
}